html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-color: #0A638E; }

.container {
  margin: 50px auto;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

h5 {
  color: white;
  text-align: center;
  background-color: #797979;
  margin: 0;
  padding: 10px;
  font-family: 'Architects Daughter', cursive; }

.new-level {
  height: 535px;
  background-color: white; }

.box-holder {
  border-right: 1px solid black;
  width: 200px;
  display: inline-block;
  margin-left: 10px; }

.new-left {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-right: 0;
  margin-top: 20px; }
  .new-left:last-child {
    margin-right: 0; }

.new-right {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .new-right:last-child {
    margin-right: 0; }

.box {
  background-color: black;
  margin: 25px; }

.b1 {
  height: 50px;
  width: 50px; }

.b2 {
  height: 100px;
  width: 50px; }

.b3 {
  height: 50px;
  width: 100px; }

.grid-holder {
  height: 500px;
  width: 500px;
  display: inline-block;
  margin: 10px;
  margin-left: 6px;
  margin-top: 20px; }

.grid {
  width: 500px;
  overflow: auto; }
  .grid .block {
    border: 1px solid lightgrey;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    float: left; }

div#box.dropped {
  background: silver; }

div#grid.focus {
  border: 1px solid red; }

nav {
  background-color: #7cb342; }

.logo {
  font-family: 'Architects Daughter', cursive; }
