
@import "app/css/vendor/bourbon/bourbon";
@import "app/css/vendor/neat/neat";
$border : 1px solid black;
body{
  background-color: #0A638E;
}
.container{
  // width: 800px;
  margin: 50px auto;
  @include outer-container;
   border-radius: 10px;
   background-color: white;
}
h5{
  color: white;
  text-align: center;
  background-color: #797979;
  margin: 0;
  padding: 10px;

  font-family: 'Architects Daughter', cursive;

}
.new-level{
  height: 535px;
  background-image: url(images/wallpaper.png);
  background-size: 108%;

}
.box-holder{
  border-right: $border;
  width: 200px;
  display: inline-block;
  margin-left: 10px

}

.new-left{
  @include span-columns(4);
  margin-right: 0;
  margin-top: 20px;
  background-color: white;
    form{
  margin-left: 20px;

  }
}
.new-right{
  @include span-columns(8);
}

.box{
  background-image: url(images/bricks.png);
  margin: 25px;
  background-size: 75%;


}
.b1{
    height: 50px;
    width: 50px;
}
.b2{
    height: 100px;
    width: 50px;
}
.b3{
    height: 50px;
    width: 100px;
}
.grid-holder{
  height: 500px;
  width: 500px;
  display: inline-block;
  margin: 10px;
  margin-left: 6px;
  margin-top: 20px;
}
.grid {
  width: 500px;
  overflow: auto;
  .block {
    // background-color: red;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    // margin-right: 1px;
    // margin-bottom: 1px;
    float: left;
  }

}
div#box.dropped {
    background: silver;
}

div#grid.focus {
    border: 1px solid red;
}
nav{
  background-color: #7cb342
}
.logo{
  font-family: 'Architects Daughter', cursive;
}
.signup{
  margin: 40px ;
}
.login{
  margin: 20px;

}
canvas{
  margin-left: 25px;
  background-color: transparent;
}
.canvas-holder{
  background-image: url(images/wallpaper.png);
  background-size: 77%

}
